.line_1_chart,
.line_2_chart {
  display: flex;
  justify-content: space-between;
}
.btn_downpdf {
  position: absolute;
  right: 50px;
  top: 130px;
  padding: 10px 16px;
  border: none;
  border-radius: 5px;
  background-color: var(--bgColor);
  color: var(--textColor);
  font-weight: 600;
}
