.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.animation {
  display: inline-block;
  width: 80px;
  height: 80px;
}
.animation:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(147, 216, 250);
  border-color: rgb(147, 216, 250) transparent rgb(147, 216, 250) transparent;
  animation: animation 1.2s linear infinite;
}
@keyframes animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
