:root {
    --textColor2: #2D31FA;
    --textColor: #051367;
    --textGrayColor: #8692A6;
    --bgColor: #DFF6FF;
    --bgColor2: #5D8BF4;

  }

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html,
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
    background-color: white;
    color: black;
}
a{
    text-decoration: none;
    color: var(--textColor);
}
input::placeholder {
    color: var(--textGrayColor);
}